/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --header-title-color: #DB00FF;
  --footer-title-color: var(--header-title-color);
  --title-color: var(--accent-color);
  --decorated-color: var(--accent-color);
  --background-color: #000028;
  --subtitle-color: var(--background-color);
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
      --accent-color: #ff0070;
      --text-color: #F1B2CE;
      --header-title-color: #DB00FF;
      --footer-title-color: var(--header-title-color);
      --title-color: var(--accent-color);
      --decorated-color: var(--accent-color);
      --background-color: #000028;
      --subtitle-color: var(--background-color);
      --background-image: url(../images/cover-image-dark.png);
  }
}