/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --header-title-color: #FFC2E6;
  --title-color:  #353430;
  --accent-color: #FF8DCB;
  --decorated-color: #353430;
  --subtitle-color: var(--title-color);
  --text-color: var(--title-color);
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
} 

.header__theme-menu-button:hover {
  --accent-color-hover: #32312D66;
  border: 1px solid var(--accent-color-hover);
}

@media (prefers-color-scheme: light) {
  :root {
      --header-title-color: #FFC2E6;
      --title-color:  #353430;
      --accent-color: #FF8DCB;
      --decorated-color: #353430;
      --subtitle-color: var(--title-color);
      --text-color: var(--title-color);
      --background-color: #FFF1F7;
      --background-image: url(../images/cover-image-light.png);
  }
}

@media (width >= 1024px) {

  .footer__title {
    text-shadow: 2px 2px 0 #FF0070;
  }
}