.page {
  min-block-size: 100vh;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--text-color);
  height: 6770px;
}

.header {
  background-image: var(--background-image);
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100vh;
  padding: var(--padding);
  position: relative;
}

.header__rec {
  display: flex;
  color: var(--accent-color);
  line-height: 25px;
  padding-right: 38px;
  position: absolute;
  text-transform: uppercase;
  top: var(--top);
  gap: var(--gap);
}

.header__rec::after {
  margin-block-start: 8px;
  margin-inline-end: var(--pointRec);
  box-shadow: 0 0 4px 2px var(--accent-color);
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.header__theme-menu-item {
  background: transparent;
  border: none;
}

.header__theme-menu-button {
  color: var(--decorated-color);
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  --accent-color-hover: #FF007066;
  border: 1px solid var(--accent-color-hover)
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-color);
  pointer-events: none;
}

.header__title {
  font-weight: 700;
  font-size: var(--clamp-mobile);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
}

.header__text {
  color: var(--subtitle-color);
  font-weight: 700;
  max-inline-size: 355px;
  max-block-size: 117px;
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  inline-size: 25px;
  block-size: 25px;
  margin: var(--margin);
}

.decorated-zone::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  inline-size: 25px;
  block-size: 25px;
  margin: var(--margin);
}

main {
  margin-block-start: var(--marginAfterHeader);
}

.section__text-link {
  text-shadow: 1px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__text-link:focus {
  outline: none;
}

.section__text-link:focus-visible {
  border: 1px solid var(--text-color);
}

.section__why {
  margin: 0px var(--margin);
  display: flex;
  flex-direction: column;
  gap: var(--listGap);
}

.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--title-color);
  font-size: var(--font-size);
}

.section__card-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--subtitle-color);
}

.section__card-sub-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--subtitle-color);
}

.section__why-card {
  display: flex;
  flex-direction: column;
  gap: var(--listGap);
}

.section__card-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.section__what {
  margin: 0px var(--margin);
  padding-top: var(--paddingTop);
  display: grid;
  gap: var(--listGap);
}

.section__what-card {
  display: flex;
  flex-direction: column;
  gap: var(--listGap);
}

.section__how {
  margin: 0px var(--margin);
  padding-top: var(--paddingTop);
  display: flex;
  flex-direction: column;
  gap: var(--listGap);
}

.section__how-card {
  display: flex;
  flex-direction: column;
  gap: var(--listGap);
}

.section__image {
  margin: 0 var(--margin);
  padding-top: var(--paddingTop);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.section__image-content-block {
  display: flex;
  flex-direction: column;
  gap: var(--listGap);
}

.footer {
  margin-top: var(--marginTopFooter);
  min-block-size: 100vh;
  padding: 0 var(--padding);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: var(--clamp-mobile);
  color: var(--footer-title-color);
  font-weight: 700;
  line-height: 83%;
}

@media (width >= 768px) {

  .page {
    height: 5850px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: var(--clamp-desktop);
  }

  .section__why {
    display: grid;
    grid-template-columns: 33% 67%;
    padding-inline-end: 20px;
  }

  .section__why-card {
    margin-block-start: 0;
  }

  .section__why .section__title {
    max-inline-size: 236px;
    max-block-size: 71px;
  }

  .section__what .section__title {
    max-inline-size: 236px;
    max-block-size: 70px;
  }

  .section__how {
    display: grid;
    grid-template-columns: 33% 67%;
    padding-inline-end: 20px;
  }

  .section__how .section__title {
    max-inline-size: 236px;
    max-block-size: 97.92px;
  }

  .section__image-content-block {
    display: grid;
  }

  .section__image-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .section__image-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .section__image-item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .section__image-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section__image-item:nth-child(5) {
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: var(--clamp-desktop);
  }
}

@media (width >= 1024px) {

  .page {
    height: 5008px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .section__what-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__why .section__title {
    max-inline-size: 314.96px;
    max-block-size: 97px;
  }

  .section__what .section__title {
    max-inline-size: 315px;
    max-block-size: 98px;
  }

  .section__how .section__title {
    max-inline-size: 315px;
    max-block-size: 98px;
  }
}